@charset "UTF-8";

body {
  line-height: 1.5;
  color: #1A1A1A;
  padding-left: 3em;
}

thead {
  font-size: 1.1em;

  > tr {
    border-bottom: 9px solid transparent;
  }
}

th {
  font-weight: normal;
}

th, td {
  box-sizing: border-box;
}

tr.endpoint {
  border-bottom: 1px solid #dedede;

  &:last-child {
    border-bottom: none;
  }
}

.endpoint > th, td.option, td.values {
  font-family: monospace;
}

table.options {
  td {
    margin: 5px 0;
  }
}

tr.endpoint > th, th.option {
  padding: 10px 0;
}

tr.endpoint > th {
  width: 172px;
  text-align: left;
  padding-left: 1em;
}

th.option {
  width: 112px;
  border-left: 5px solid;

  &.red     { border-left-color: #F22613 }
  &.yellow  { border-left-color: #E9D460 }
  &.green   { border-left-color: #00B16A }
  &.buzzer  { border-left-color: #95A5A6 }
  &.second  { border-left-color: #6C7A89 }
  &.patlite { border-left-color: #EEEEEE }
}

td.description {
  width: 112px;
  color: #AAA;
}

td.values {
  width: 192px;

  > span {
    padding: 3px 5px;
    background: #eee;
  }
}

footer {
  width: 540px;
  margin-top: 12px;
  padding-top: 6px;
  font-size: .88em;
  border-top: 1px solid #ccc;
}
